<div class="about-head"> 
</div>
<div class="about-content">
  <h3>About Travel Expedition</h3>
  <div class="about-paragraph">Many people dream of taking a year long sabbatical from work and traveling around the world, but few actually do it. Many people see this dream as unacheivable, or only for the super rich. The reality is that international travel is surprisingly affordable and accessible. If you find yourself unemployed with some money in reserve, then heading abroad to certain countries will actually cost you less than staying home and living off your savings. Hostels and even budget hotels in many parts are of the world are surprisingly affordable. Food can be cheap and entertainment is often free.</div>
  <div class="about-paragraph">More and more people are making this dream a reality. Many people take time to travel between different years in school. These "gap years" often involve volunteering, backpacking, and a decent amount of partying. A growing demographic for long term travel is the young professional population. During the economic recession in 2008 and 2009, many young professionals lost their jobs and struggled to find new employment. This presented the perfect opportunity to hit the road. Travelers in their late 20's and up through their ate 30's are becoming a more substantial part of the long term travel community. Even older demographics are traveling longer and cheaper, too.</div>
  <div class="about-paragraph">Although finances and careers are often reasons why people pass up the chance to travel, fear is perhaps the biggest deterrent. People are afraid of the unknown. Transportation, food, and accommodation all seem a little more intimidating when you're in a new country. But with the growing trend towards international, long term travel comes many resources to help with travel planning. Guide books are everywhere and many have sections focused specifically on spending extended amounts of time abroad. Transportation can be surprisingly easy in many places and even where it's more challenging, you will rarely find yourself in a situation where nobody is willing to help you. Accommodation is available is so many forms. Hostels and budget hotels are abundant in most touristy destinations. Couchsurfing has even opened up a new world for travel. You can stay, for free (or a small fee), with a local resident of the community. Not only is this an affordable option, but it lets you see a completely different and new side of city. Furthermore, services such as Airbnb are letting travelers find accommodation in places where hotels never existed. Once you're on the road, you'll often find that your initial fears were completely unfounded. As a general rule, people are good, and they are eager to show you their home, culture and community. You can ask anybody, almost anywhere around the world for directions or advice and more times than not you will be greeted with smile and a more help than you possibly expected.</div>
  <div class="about-paragraph">And don't let a lack of experience in a foreign language hold you back, either. English has become the international language of tourism even if it's not the most popular language in the world. Even if English is your second language, knowing just a little will get you by in almost all countries. Otherwise, a little touch of basic Spanish or French can suffice, and this is something that you can pick up faster than you think.</div>
  <div class="about-paragraph">Putting your life, both personally and professionally, on hold to travel can be a huge undertaking. You may feel that your career will suffer or that you'll lose relationships at home. The reality is that when you return, jobs will likely still be there, and your relationships, at least the important ones, will grow stronger. You'll become a more independent, confident, and stronger person and that will be reflected in your interactions with others. The life skills you learn through travel will stay with you for the rest of your life.</div>
  <div class="about-paragraph">Regardless of your age, reason, or motivation for packing up and hitting the road, long term international travel is a life changing experience. It opens your eyes to new cultures. You meet people from around the world. You learn about yourself and what truly inspires you. You learn how to deal with unknown situations. If you find yourself with the unique opportunity to spend an extended amount of time abroad, whether it is for weeks, months or years, then it is a chance you should not pass up. You will return to your school or work and your life a completely different and more inspired person.</div>
  <div class="about-paragraph">We've designed this guide to help you realize just how accessible your travel goal really is. In the guide we'll walk you through the process of planning, budgeting, and making the leap that gets you out in the world. Of course, you don't have to travel for exactly a year, and you don't need to do a traditional "around the world" trip to make use of this guide. It is intended to help you plan any type of long term trip to any part of the world. Think of it as a long term trip planning guide, not just an around the world trip planning guide. We've broken the guide into the following sections for easy navigation.</div>

</div>


<style type="text/css">

.about-head {
  background: url(https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5af0e68c41241379a320d9832b7232ce) no-repeat center center scroll;
  background-size: cover;
  height: 150px;
}

.about-content h3 {
  text-align: center;
  margin-top: 50px;
}

.about-paragraph {
  margin:5px 50px 50px 50px;

}

.about-paragraph:first-letter {
  font-size: 3em;
  margin:10px;
  padding: 5px;
}
</style>