<div class="contact-head"> 
</div>
<div class="contact-content">
  <h3 class="contact-title">Contacting TrvlNotes</h3>
  <ul class="list-group">
    <li class="list-group-item">Name: Travel notes</li>
    <li class="list-group-item">Address: 45 William Street,Melbourne,VIC 3000</li>
    <li class="list-group-item">Phone Number: 123456789</li>
    <li class="list-group-item">Email: travel.notes@ga.co</li>
  </ul>
</div>


<style type="text/css">

.contact-head {
  background: url(https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5af0e68c41241379a320d9832b7232ce) no-repeat center center scroll;
  background-size: cover;
  height: 150px;
}
.contact-content {
  margin:30px;
  padding:20px;
}
.contact-title{
  font-size: 2em;
  margin:10px 20px 25px 0px;
}





</style>