<div class="contact-content">
  <h3 class="contact-title">Contacting TrvlNotes</h3>
  <ul class="list-group">
    <li class="list-group-item">Name: Travel notes</li>
    <li class="list-group-item">Address: 45 William Street,Melbourne,VIC 3000</li>
    <li class="list-group-item">Phone Number: 123456789</li>
    <li class="list-group-item">Email: travel.notes@ga.co</li>
  </ul>
</div>


<style type="text/css">

  .contact-content {
    margin:30px;
    padding:20px;
  }
  .contact-title{
    font-size: 2em;
    margin:10px 20px 25px 0px;
  }

</style>