<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

 
 <body>

<h1>Sign Up</h1>

<div class="ui-widget">
<label for="tags">Tags: </label>
  <form action="/signup" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>    

  <label for="">username</label>  
  <input type="text" name="name">

  <label for="">email</label>
  <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <label for="">country</label>
    <input class="country_selector" type="text" name="country">

  <button>join</button>
  
  <% if session[:username] == true %>
    <div>invalid user name</div>
  <% end %>
  <% if session[:email] == true %>
    <div>invalid email address</div>
  <% end %>
  <% if session[:country] == true %>
    <div>invalid country name</div>
  <% end %>

  </form>
</div>
</body>
