<header class="profile_header">
  <div class="profile_image">
    <img src="" alt="">
  </div>
  <div class="username"><%= @user.name%></div>
  <a class="add_card_btn" href="/new">ADD CARD</a>
</header>

<div class="container">
  
  <% @countries.each do |country| %>
    <div class="card">
      <div><%= country.name%></div>
      <img src="" alt="">
      <div>
        <p>cards</p>
        <span></span>
      </div>
    </div>
  <% end %>

</div>