
<div class="content">
<h1>Travel Expedition List</h1>
<div class="buttons">
  <a href="/signup"><button>Sign Up</button></a>
  <a href="/login"><button>Login</button></a>
</div>
</div>
<style>
.content {
  /*centering elements*/
  margin-left: 40%;
  margin-top: 20%;
}

</style>
