<h1>Login</h1>

<form action="/session" method="post">
  
  <label for="">username</label>
  <input type='text' name='username'>
    


  <label for="">password</label>
  <input type='password' name='password'>

  <button class="btn">login</button>


</form>

<form action="/user/signup">
  
<button class="btn" >Sign up!</button>
</form>
