<% @cards.each do |card| %>
    <div class="card">
      <h2><%= card.title %></h2>
      <!-- remember to fix card size and image size -->
      <span><img src="<%= card.image %>" height="150" width="150"></span>
      <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
      <p><a href="<%= card.source %>">Link</a></p>

    </div>

<%  end %>
