<!-- This page shows cards based on the tag that was selected on the board -->
<% @cards.each do |card| %>
    <div class="card">
      <h2><%= card.title %></h2>

      <span><img src="<%= card.image %>" height="150" width="150"></span>

      <p><a href="<%= card.source %>">Link</a></p>

    </div>

<%  end %>
